<div>
  <h1> ATM </h1>
</div>
<div>
  <form accept-charset="UTF-8" action="/" method="post">
    <label for="amount">Amount of money</label>
    <input id="amount" name="amount" type="text" />
    <input name="commit" type="submit" value="Witdraw" />
  </form>
</div>

